html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.album {
    float: left;
    position: relative;
    width: 150px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
}
